<html>

<head>
	<title>TODO LIST</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
	<script src="/assets/todo.js"></script>
	<link href="" rel="stylesheets" type="text/css">
</head>

<body>
	<div id="todo-table">
		<form>
			<input type="text" name="item" placeholder="Add New Todo" required id="todo" />
			<button type="submit">Add Item</button>
		</form>
		<ul>
			<% for(var i=0; i < data.length; i++) {%>
			<li><%=data[i].item %></li>
			<% } %>
		<ul>
	</div>
</body>

</html>